@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Julius+Sans+One&family=Redressed&family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}

@media(min-width:320px) and (max-width:767px) {
    

    .menus {
        width: 100%;
        height: auto;
        position: sticky;
        top: 0;
    }
    
    .pages {
        background-color: #000F2A;
        padding: 10px 10px 0px 10px;
        width: 100%;
        height: 40px;
    }
    
    .pages ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    .pages ul li:not(:last-child):not(:first-child) {     
        display: none;
    }

    #booking {
        color: white;
        font-size: 20px;
        font-family: 'Alegreya Sans SC', sans-serif;
    }

    #menus img {
        width: 20px;
        height: 20px;
    }
    
    .booking {
        margin: auto;
        width: 100%;
        padding: 13px 0px 10px 0px;
        background-color: white;
        border: 1px solid #000F2A;
        border-top: 0px;
    }
    
    .booking ul {
        list-style: none;
        text-align: center;
    }
    .booking ul li {
        padding: 4px 20px;
    }
    .booking ul li input {
        padding: 6px;
    }
    .booking ul li select {
        padding: 8px 25px;
    }
    .booking ul li button {
        background-color: #A71238;
        color: white;
        padding: 7px;
        border: 1px solid #A71238;
        cursor: pointer;
    }
    .redButton {
        transition: 0.5s;
        cursor: pointer;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        background-color: #A71238;
        color: white;
        border: 1px solid #A71238;
    }
    .redButton:hover {
        color: #A71238;
        background-color: white;
    }
    
    .menuSlide {
        margin-top: -260px;
        margin-bottom: 40px;
        position: relative;
        z-index: -1;
        transition: 1s;
    }

    .menuSlideResponse {
        margin-top: 0;

    }
    
    .menuSlide ul {
        list-style: none;
    }

    .menuSlide ul li {
        border-top: 1px solid rgba(0, 0, 0, 0.418);
        padding: 10px;
    }

    .menuSlide ul li a {
        margin-left: 10px;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Alegreya Sans SC', sans-serif;
        color: black;
    }
    

    .headerContain {
        width: 80%;
        height: auto;
        margin: auto;
        margin-bottom: 49px;
    }
    
    .headerContain {
        font-size: 12px;
        font-family: 'Julius Sans One', sans-serif;
    }

    .contain {
        width: 80%;
        height: auto;
        margin: auto;
        text-align: center;
        background-color: red;
        border: 1px solid #dddddd;
        margin-bottom: 54px;
    }
    
    .headContain {
        width: 100%;
        height: auto;
        background-color: #F3F3F3;
        display: flex;
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #dddddd;
    }
    
    .headContain h1 {
        font-size: 12px;
        font-family: 'Julius Sans One', sans-serif;
        margin: 0px 5% 0px 30px;
    }
    
    .headContain ul {
        list-style: none;
    }
    
    .headContain ul li {
        font-weight: bold;
        float: left;
        font-size: 12px;
        font-family: 'Julius Sans One', sans-serif;
        text-align: center;
        margin-left: 5px;
    }
    
    .bookingContain {
        width: 100%;
        height: auto;
        background-color: white;
        border-bottom: 1px solid #dddddd;
    }
    
    .imgBooking {
        width: 100%;
        height: auto;
    }
    
    .imgBooking img {
        width: 100%;
        height: auto;
    }
    
    .imgBooking ul {
        list-style: none;
        text-align: left;
    }
    
    .imgBooking ul li {
        margin-top: 10px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .imgBooking ul li a button {
        margin-top: 10px;
        width: 100%;
        padding: 10px 0px 10px 0px;
        border-radius: 2%;
        font-size: 12px;
    }
    
    .detailBooking {
        width: 100%;
        height: auto;
        text-align: left;
        border: 1px solid #dddddd;
    }
    
    .detailBooking1 {
        width:  100%;
        height: auto;
        padding: 10px;
    }
    
    .detailBooking1 h1{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .detailBooking1 ul {
        list-style: none;
    }
    
    .detailBooking1 ul li {
        float: left;
    }
    
    .detailBooking ul li ol {
        list-style: none;
    }
    
    #noRoom {
        margin-left: 20px;
        padding: 2px 5px 2px 5px;
    }
    
    .detailBooking ul li ol li {
        float: none;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .detailBooking2 {
        width: 100%;
        height: auto;
        text-align: right;
        padding: 10px;
    }
    
    .detailBooking2 h1 {
        font-family: 'Julius Sans One', sans-serif;
        margin-top: 10px;
        font-size: 15px;
    }
    
    .detailBooking2 small {
        font-family: 10px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .detailBooking3 {
        width: 100%;
        height: auto;
        background-color: #F3F3F3;
        border-top: 2px solid #dddddd;
    }
    
    .detailBooking p {
        margin-left: 10px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .ava {
        color: #46a53f;
    }
    
    .notAva {
        color: #A71238;
    }
    
    .detailBooking3 a button {
        margin-top: 20px;
        width: 100%;
        padding: 10px 0px;
    }
    
    .modalContainer {
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2px solid #000F2A;
        border-radius: 1%;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 99;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
    }
    
    .showModal {
        pointer-events: auto;
        opacity: 1;
    }
    
    .modalHead {
        width: 100%;
        padding: 10px 7px 10px 7px;
        height: auto;
        border-bottom: 1px solid #000F2A;
    }
    
    .modalHead h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 15px;
    }
    
    .modalContain {
        width: 100%;
        padding: 10px 0 10px 0;
        height: auto;
    }
    
    .payment {
        width: 90%;
        height: auto;
        margin: auto;
        padding: 10px 20px 10px 20px;
        border: 1px solid #000F2A;
    }
    
    .payment input {
        float: right;
        cursor: pointer;
    }
    
    .buttonPayment {
        width: 90%;
        height: auto;
        margin: auto;
        padding: 20px 0px 20px 0px;
    }
    
    .buttonPayment button {
        width: 100%;
        padding: 10px 20px 10px 20px;
    }
    
    .buttonClose {
        background-color: white;
        color: #A71238;
        width: 100%;
        padding: 10px 20px 10px 20px;
        border: 1px solid #A71238;
        transition: 0.4s;
        cursor: pointer;
    }
    
    .buttonClose:hover {
        color: white;
        background-color: #A71238;
    }
    
    
    
    .footer {
        margin-top: 30px;
        width: 100%;
        background-color: #A71238;
    }
    
    .footerLeft{
        margin: auto;
        width: 100%;
        height: 60px;
        background-color: #080C2C;;
        display: flex;
        justify-content: center;
    }
    
    .footerLeft ul {
        margin: 20px 0px 0px 0px;
        list-style: none;
    
    }
    
    .footerLeft ul:not(:last-child) {
        margin-right: 20px;
    }
    
    .footerLeft ul li a img {
        width: 20px;
        height: 20px;
        transition: 0.5s;
    }
    
    .footer ul li a img:hover {
        opacity: 50%;
    }
    
    .footerMid{
        padding-top: 20px;
        text-align: center;
        width: 100%;
        height: 60px;
        background-color: #080C2C;;
    }
    
    .footerMid span{
        color: #BAA090;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 13px;
        cursor: default;
    }
    
    .footerRight{
        width: 100%;
        height: 60px;
        background-color: #080C2C;
        text-align: center;
    }
    
    .footerRight span {
        font-size: 20px;
        color: #BAA090;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    .footerRight img {
        width: 20px;
        height: 20px;
        margin: 20px 0px 0px 60px;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .footerRight img:hover {
        width: 24px;
        height: 24px;
        margin: 16px 0px 0px 58px;
    }
    
}

@media(min-width:768px) and (max-width:1023px) {
    

    .menus {
        width: 100%;
        height: auto;
        position: sticky;
        top: 0;
        margin-bottom: 40px;
    }
    
    .pages {
        background-color: #000F2A;
        padding-top: 10px;
        width: 100%;
        height: 40px;
    }
    
    .pages ul {
        list-style: none;
        text-align: center;
    }
    .pages ul li {
        color: white;
        font-size: 20px;
        display: inline-block;
        margin: 0px 20px 0px 20px;
        font-family: 'Alegreya Sans SC', sans-serif;
    }
    .pages ul li a {
        text-decoration: none;
        color: white;
        transition: 0.3s;
    }
    .pages ul li a:hover {
        text-shadow: 0 0 3px white;
    }
    .active {
        text-shadow: 0 0 3px white;
    }
    #booking, #menus, .menuSlide {
        display: none;
    }
    
    
    .booking {
        margin: auto;
        width: 700px;
        padding: 12px;
        background-color: white;
        border: 1px solid #000F2A;
        border-top: 0px;
    }
    
    .booking ul {
        list-style: none;
        text-align: center;
    }
    .booking ul li {
        display: inline-block;
    }
    .booking ul li input {
        padding: 6px;
    }
    .booking ul li select {
        padding: 7px;
    }
    .booking ul li button {
        background-color: #A71238;
        color: white;
        padding: 7px;
        border: 1px solid #A71238;
        cursor: pointer;
    }
    .redButton {
        transition: 0.5s;
        cursor: pointer;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        background-color: #A71238;
        color: white;
        border: 1px solid #A71238;
    }
    .redButton:hover {
        color: #A71238;
        background-color: white;
    }
    

    .headerContain {
        width: 80%;
        height: auto;
        margin: auto;
        margin-bottom: 49px;
    }
    
    .headerContain {
        font-size: 12px;
        font-family: 'Julius Sans One', sans-serif;
    }

    .contain {
        width: 80%;
        height: auto;
        margin: auto;
        text-align: center;
        background-color: red;
        border: 1px solid #dddddd;
        margin-bottom: 54px;
    }
    
    .headContain {
        width: 100%;
        height: auto;
        background-color: #F3F3F3;
        display: flex;
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #dddddd;
    }
    
    .headContain h1 {
        font-size: 12px;
        font-family: 'Julius Sans One', sans-serif;
        margin: 0px 5% 0px 30px;
    }
    
    .headContain ul {
        list-style: none;
    }
    
    .headContain ul li {
        font-weight: bold;
        float: left;
        font-size: 12px;
        font-family: 'Julius Sans One', sans-serif;
        margin-left: 100px;
    }
    
    .bookingContain {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #dddddd;
    }
    
    .imgBooking {
        width: 30%;
        height: auto;
        margin: 0px 10px 0px 10px;
    }
    
    .imgBooking img {
        width: 100%;
        height: auto;
    }
    
    .imgBooking ul {
        list-style: none;
        text-align: left;
    }
    
    .imgBooking ul li {
        margin-top: 10px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .imgBooking ul li a button {
        margin-top: 10px;
        width: 100%;
        padding: 10px 0px 10px 0px;
        border-radius: 2%;
        font-size: 12px;
    }
    
    .detailBooking {
        margin: 0px 10px 0px 15px;
        width: 65%;
        height: 167px;
        text-align: left;
        border: 1px solid #dddddd;
    }
    
    .detailBooking1 {
        width:  75%;
        height: auto;
        float: left;
        padding: 10px;
    }
    
    .detailBooking1 h1{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .detailBooking1 ul {
        list-style: none;
    }
    
    .detailBooking1 ul li {
        float: left;
    }
    
    .detailBooking ul li ol {
        list-style: none;
    }
    
    #noRoom {
        margin-left: 105px;
        padding: 2px 5px 2px 5px;
    }
    
    .detailBooking ul li ol li {
        float: none;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .detailBooking2 {
        width: 25%;
        height: auto;
        float: right;
        text-align: right;
        padding: 10px;
    }
    
    .detailBooking2 h1 {
        font-family: 'Julius Sans One', sans-serif;
        margin-top: 10px;
        font-size: 15px;
    }
    
    .detailBooking2 small {
        font-family: 10px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .detailBooking3 {
        width: 100%;
        height: auto;
        background-color: #F3F3F3;
        border-top: 2px solid #dddddd;
        float: left;
    }
    
    .detailBooking p {
        float: left;
        margin-left: 10px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .ava {
        color: #46a53f;
    }
    
    .notAva {
        color: #A71238;
    }
    
    .detailBooking3 a button {
        float: right;
        padding: 10px 20px 10px 20px;
    }
    
    .modalContainer {
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2px solid #000F2A;
        border-radius: 1%;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 99;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
    }
    
    .showModal {
        pointer-events: auto;
        opacity: 1;
    }
    
    .modalHead {
        width: 100%;
        padding: 20px 17px 20px 17px;
        height: auto;
        border-bottom: 1px solid #000F2A;
    }
    
    .modalHead h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 18px;
    }
    
    .modalContain {
        width: 100%;
        padding: 20px 17px 30px 17px;
        height: auto;
    }
    
    .payment {
        width: 90%;
        height: auto;
        margin: auto;
        padding: 30px 20px 30px 20px;
        border: 1px solid #000F2A;
    }
    
    .payment input {
        float: right;
        cursor: pointer;
    }
    
    .buttonPayment {
        width: 90%;
        height: auto;
        margin: auto;
        padding: 20px 0px 20px 0px;
    }
    
    .buttonPayment button {
        float: right;
        padding: 10px 20px 10px 20px;
    }
    
    .buttonClose {
        background-color: white;
        color: #A71238;
        padding: 10px 20px 10px 20px;
        border: 1px solid #A71238;
        transition: 0.4s;
        cursor: pointer;
    }
    
    .buttonClose:hover {
        color: white;
        background-color: #A71238;
    }
    
    
    
    .footer {
        margin-top: 30px;
        width: 100%;
        height: 60px;
        background-color: #A71238;
        display: flex;
        justify-content: center;
    }
    
    .footerLeft{
        width: 35%;
        height: 60px;
        background-color: #080C2C;;
    }
    
    .footerLeft ul {
        margin: 20px 0px 0px 0px;
        display: inline-block;
        list-style: none;     
    
    }
    
    .footerLeft ul:not(:last-child) {
        margin-right: 20px;
    }
    
    .footerImgFirst {
        margin-left: 100px;
    }
    
    .footerLeft ul li a img {
        width: 20px;
        height: 20px;
        transition: 0.5s;
    }
    
    .footer ul li a img:hover {
        opacity: 50%;
    }
    
    .footerMid{
        padding-top: 20px;
        text-align: center;
        width: 30%;
        height: 60px;
        background-color: #080C2C;;
    }
    
    .footerMid span{
        color: #BAA090;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 13px;
        cursor: default;
    }
    
    .footerRight{
        width: 35%;
        height: 60px;
        background-color: #080C2C;
        text-align: center;
    }
    
    .footerRight span {
        font-size: 20px;
        color: #BAA090;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    .footerRight img {
        width: 20px;
        height: 20px;
        margin: 20px 0px 0px 60px;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .footerRight img:hover {
        width: 24px;
        height: 24px;
        margin: 16px 0px 0px 58px;
    }

}

@media(min-width:1024px) and (max-width:1600px) {

    .menus {
        width: 100%;
        height: auto;
        position: sticky;
        top: 0;
        margin-bottom: 40px;
    }
    
    .pages {
        background-color: #000F2A;
        padding-top: 10px;
        width: 100%;
        height: 40px;
    }
    
    .pages ul {
        list-style: none;
        text-align: center;
    }
    .pages ul li {
        color: white;
        font-size: 20px;
        display: inline-block;
        margin: 0px 50px 0px 50px;
        font-family: 'Alegreya Sans SC', sans-serif;
    }
    .pages ul li a {
        text-decoration: none;
        color: white;
        transition: 0.3s;
    }
    .pages ul li a:hover {
        text-shadow: 0 0 3px white;
    }
    .active {
        text-shadow: 0 0 3px white;
    }
    
    #booking, #menus, .menuSlide {
        display: none;
    }
    
    
    .booking {
        margin: auto;
        width: 700px;
        padding: 12px;
        background-color: white;
        border: 1px solid #000F2A;
        border-top: 0px;
    }
    
    .booking ul {
        list-style: none;
        text-align: center;
    }
    .booking ul li {
        display: inline-block;
    }
    .booking ul li input {
        padding: 6px;
    }
    .booking ul li select {
        padding: 7px;
    }
    .booking ul li button {
        background-color: #A71238;
        color: white;
        padding: 7px;
        border: 1px solid #A71238;
        cursor: pointer;
    }
    .redButton {
        transition: 0.5s;
        cursor: pointer;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        background-color: #A71238;
        color: white;
        border: 1px solid #A71238;
    }
    .redButton:hover {
        color: #A71238;
        background-color: white;
    }

    .headerContain {
        font-family: 'Julius Sans One', sans-serif;
        width: 80%;
        height: auto;
        margin: auto;
        margin-bottom: 49px;
    }
    
    .contain {
        width: 80%;
        height: auto;
        margin: auto;
        text-align: center;
        background-color: red;
        border: 1px solid #dddddd;
        margin-bottom: 54px;
    }
    
    .headContain {
        width: 100%;
        height: auto;
        background-color: #F3F3F3;
        display: flex;
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #dddddd;
    }
    
    .headContain h1 {
        font-size: 15px;
        font-family: 'Julius Sans One', sans-serif;
        margin: 0px 15% 0px 50px;
    }
    
    .headContain ul {
        list-style: none;
    }
    
    .headContain ul li {
        font-weight: bold;
        float: left;
        font-size: 15px;
        font-family: 'Julius Sans One', sans-serif;
        margin-left: 100px;
    }
    
    .bookingContain {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #dddddd;
    }
    
    .imgBooking {
        width: 30%;
        height: auto;
        margin: 0px 10px 0px 10px;
    }
    
    .imgBooking img {
        width: 100%;
        height: auto;
    }
    
    .imgBooking ul {
        list-style: none;
        text-align: left;
    }
    
    .imgBooking ul li {
        margin-top: 10px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .imgBooking ul li a button {
        margin-top: 10px;
        width: 100%;
        padding: 10px 0px 10px 0px;
        border-radius: 2%;
        font-size: 15px;
    }
    
    .detailBooking {
        margin: 0px 10px 0px 15px;
        width: 65%;
        height: 167px;
        text-align: left;
        border: 1px solid #dddddd;
    }
    
    .detailBooking1 {
        width:  80%;
        height: auto;
        float: left;
        padding: 10px;
    }
    
    .detailBooking1 h1{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .detailBooking1 ul {
        list-style: none;
    }
    
    .detailBooking1 ul li {
        float: left;
    }
    
    .detailBooking ul li ol {
        list-style: none;
    }
    
    #capacityRoom {
        margin-left: 145px;
    }
    
    #noRoom {
        margin-left: 115px;
        padding: 5px 10px 5px 10px;
    }
    
    .detailBooking ul li ol li {
        float: none;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .detailBooking2 {
        width: 20%;
        height: auto;
        float: right;
        text-align: right;
        padding: 10px;
    }
    
    .detailBooking2 h1 {
        font-family: 'Julius Sans One', sans-serif;
        margin-top: 10px;
        font-size: 20px;
    }
    
    .detailBooking2 small {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .detailBooking3 {
        width: 100%;
        height: auto;
        background-color: #F3F3F3;
        border-top: 2px solid #dddddd;
        float: left;
    }
    
    .detailBooking p {
        float: left;
        margin-left: 10px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .ava {
        color: #46a53f;
    }
    
    .notAva {
        color: #A71238;
    }
    
    .detailBooking3 a button {
        float: right;
        padding: 10px 20px 10px 20px;
    }
    
    .modalContainer {
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2px solid #000F2A;
        border-radius: 1%;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 99;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
    }
    
    .showModal {
        pointer-events: auto;
        opacity: 1;
    }
    
    .modalHead {
        width: 100%;
        padding: 20px 17px 20px 17px;
        height: auto;
        border-bottom: 1px solid #000F2A;
    }
    
    .modalHead h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 18px;
    }
    
    .modalContain {
        width: 100%;
        padding: 20px 17px 30px 17px;
        height: auto;
    }
    
    .payment {
        width: 90%;
        height: auto;
        margin: auto;
        padding: 40px 20px 40px 20px;
        border: 1px solid #000F2A;
    }
    
    .payment input {
        float: right;
        cursor: pointer;
    }
    
    .buttonPayment {
        width: 90%;
        height: auto;
        margin: auto;
        padding: 20px 0px 20px 0px;
    }
    
    .buttonPayment button {
        float: right;
        padding: 10px 20px 10px 20px;
    }
    
    .buttonClose {
        background-color: white;
        color: #A71238;
        padding: 10px 20px 10px 20px;
        border: 1px solid #A71238;
        transition: 0.4s;
        cursor: pointer;
    }
    
    .buttonClose:hover {
        color: white;
        background-color: #A71238;
    }
    
    
    .footer {
        margin-top: 30px;
        width: 100%;
        height: 60px;
        background-color: #A71238;
        position: fixed;
        top: 89%;
        display: flex;
        justify-content: center;
    }
    
    .footerLeft{
        width: 35%;
        height: 60px;
        background-color: #080C2C;;
    }
    
    .footerLeft ul {
        margin: 20px 0px 0px 0px;
        display: inline-block;
        list-style: none;     
    
    }
    
    .footerLeft ul:not(:last-child) {
        margin-right: 20px;
    }
    
    .footerImgFirst {
        margin-left: 200px;
    }
    
    .footerLeft ul li a img {
        width: 20px;
        height: 20px;
        transition: 0.5s;
    }
    
    .footer ul li a img:hover {
        opacity: 50%;
    }
    
    .footerMid{
        padding-top: 20px;
        text-align: center;
        width: 30%;
        height: 60px;
        background-color: #080C2C;;
    }
    
    .footerMid span{
        color: #BAA090;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 13px;
        cursor: default;
    }
    
    .footerRight{
        width: 35%;
        height: 60px;
        background-color: #080C2C;
        text-align: center;
    }
    
    .footerRight span {
        font-size: 20px;
        color: #BAA090;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    .footerRight img {
        width: 20px;
        height: 20px;
        margin: 20px 0px 0px 60px;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .footerRight img:hover {
        width: 24px;
        height: 24px;
        margin: 16px 0px 0px 58px;
    }

}
