@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Julius+Sans+One&family=Redressed&family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.container {
    width: 1600px;
    height: auto;
}

.headers {
    width: 1600px;
    height: 728px;
    background-image: url('/img/nitlaxi2.jpg');
    background-size: cover;
    box-shadow: 0px -90px 60px #000F2A inset;
    animation: fadePhotos 16s ease-in-out infinite;
}

@keyframes fadePhotos {
    0%,100% {
        background-image: url('/img/nitlaxi2.jpg');
    }
    25% {
        background-image: url('/img/nitlaxi3.jpg');
    }
    50% {
        background-image: url('/img/nitlaxi2.jpg');
    }
    75% {
        background-image: url('/img/nitlaxi3.jpg');
    }
}

.header1 {
    width: 1600px;
    height: 200px;
}

.icon {
    width: 320px;
    height: 200px;
    float: left;
}

.icon img {
    width: 160px;
    height: 90px;
    margin-left: 50px;
}

.header {
    width: 960px;
    height: 200px;
    float: left;
}
.header ul {
    text-align: center;
    list-style: none;
    color: white;
}
.header ul li a {
    text-decoration: none;
    color: white;
}
.header ul li h1 {
    padding-top: 25px;
    font-family: 'Julius Sans One', sans-serif;
    margin: 1;
    font-size: 20px;
    cursor: default;
}

.header ul li small {
    font-family: 'Redressed', cursive;
    font-style: italic;
    font-weight: 500;
}

.langNLog {
    width: 320px;
    height: 200px;
    float: left;
}

.langNLog ul {
    list-style: none;
    text-align: center;
}
.langNLog ul li {
    font-size: 20px ;
    display: inline-block;
    margin-top: 25px;
    padding: 0px 25px 0px 25px;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    cursor: default;
}

.langNLog ul li button {
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: transparent;
    border: 0px;
    color: white;
    cursor: pointer;
    font-size: 20px ;
}

.langNLog ul li button:hover {
    border-bottom: 1px solid white;
}

.menus {
    width: 1600px;
    height: auto;
    position: sticky;
    top: 0;
    margin-bottom: 40px;
}

.pages {
    padding: 9px 0px 9px 0px;
    background-color: #000F2A;
    width: 1600px;
    height: auto;
}

.pages ul {
    list-style: none;
    text-align: center;
}
.pages ul li {
    color: white;
    font-size: 20px;
    display: inline-block;
    margin: 0px 50px 0px 50px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.pages ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.pages ul li a:hover {
    text-shadow: 0 0 3px whitesmoke;
}
.active {
    text-shadow: 0 0 3px whitesmoke;
}

.booking {
    margin: auto;
    width: 700px;
    padding: 12px;
    background-color: white;
    border: 1px solid #000F2A;
    border-top: 0px;
}

.booking ul {
    list-style: none;
    text-align: center;
}
.booking ul li {
    display: inline-block;
}
.booking ul li input {
    padding: 6px;
}
.booking ul li select {
    padding: 7px;
}
.booking ul li button {
    background-color: #A71238;
    color: white;
    padding: 7px;
    border: 1px solid #A71238;
    cursor: pointer;
}
.redButton {
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    background-color: #A71238;
    color: white;
    border: 1px solid #A71238;
}
.redButton:hover {
    color: #A71238;
    background-color: white;
}

.contains {
    margin: auto;
    width: 1280px;
    height: 400px;
}

.containLeft {
    float: left;
    width: 893px;
    height: auto;
    border-right: 1px solid black;
}
.containLeft h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}
.containLeft p {
    margin: 15px 0px 15px 0px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.containRight {
    margin-left: 6px;
    float: right;
    width: 380px;
    height: auto;
}

.containRight img {
    width: 320px;
    height: 320px;
}

.roomNSuites {
    margin: auto;
    width: 1600px;
    height: auto;
    background-color: #F3F3F3;
    padding: 20px 0px 20px 0px;
    margin-bottom: 20px;
    overflow: hidden;
}

.headerRNS {
    text-align: center;
}

.headerRNS h1 {
    font-family: 'Julius Sans One', sans-serif;
}

.headerRNS small {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.optionRNS {
    margin-top: 50px;
}

.optionRNS ul {
    list-style: none;
    text-align: center;
}

.optionRNS ul li {
    margin: 0px 150px 0px 150px;
    display: inline-block;
    cursor: pointer;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.borderBottom {
    transition: 1s;
    border-bottom: 1px solid #BAA090;
}

.RNS {
    width: 500%;
    height: auto;
    display: flex;
}

.RNSContainer {
    width: 1600px;
    height: 400px;
}

.RNSContain {
    margin: auto;
    width: 1440px;
    height: auto;
    display: flex;
    margin-top: 20px;
}

.RNSLeft {
    width: 720px;
    height: 400px;
}

.aboutRoom {
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

.aboutRoom h1 {
    font-family: 'Julius Sans One', sans-serif;
    margin-bottom: 20px;
    font-size: 25px;
}

.aboutRoom p {
    margin-bottom: 30px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.aboutRoom a button {
    padding: 7px 28px 7px 28px;
    cursor: pointer;
    transition: 0.5s;
}

.aboutRoom button {
    padding: 7px 28px 7px 28px;
    cursor: pointer;
    transition: 0.5s;
}

#detailRoom {
    background-color: transparent;
    border: 2px solid #BAA090;
    color: #BAA090;
}

#detailRoom:hover {
    background-color: #BAA090;
    color: white;
}

#bookRoom {
    background-color: #A71238;
    border: 2px solid #A71238;
    color: white;
}

#bookRoom:hover {
    background-color: transparent;
    color: #A71238;
}

.RNSRight {
    width: 720px;
    height: 400px;
}

.RNSRight img {
    width: 720px;
    height: 400px;
}


.offers {
    margin: auto;
    width: 1280px;
    height: 590px;
    overflow: hidden;
    margin-top: 80px;
}

.headSlider {
    text-align: center;
    width: auto;
    height: 90px;
}

.headSlider h1 {
    font-family: 'Julius Sans One', sans-serif;
}

.headSlider small {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 1280px;
    height: 500px;
}

.manualNavigation {
    position: absolute;
    width: 1280px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manualBtn {
    border: 2px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manualBtn:not(:last-child) {
    margin-right: 35px;
}

.manualBtn:hover {
    background-color: whitesmoke;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.autoNavigation {
    position: absolute;
    display: flex;
    width: 1280px;
    justify-content: center;
    margin-top: 460px;
}

.autoNavigation div {
    border: 2px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.autoNavigation div:not(:last-child) {
    margin-right: 35px;
}

#radio1:checked ~ .autoNavigation .autoBtn1 {
    background-color: whitesmoke;
}

#radio2:checked ~ .autoNavigation .autoBtn2 {
    background-color: whitesmoke;
}

#radio3:checked ~ .autoNavigation .autoBtn3 {
    background-color: whitesmoke;
}

#radio4:checked ~ .autoNavigation .autoBtn4 {
    background-color: whitesmoke;
}

.footer {
    margin-top: 30px;
    width: 1600px;
    height: 60px;
    background-color: #A71238;
    display: flex;
}

.footerLeft{
    width: 550px;
    height: 60px;
    background-color: #080C2C;;
}

.footerLeft ul {
    margin: 20px 0px 0px 0px;
    display: inline-block;
    list-style: none;     

}

.footerLeft ul:not(:last-child) {
    margin-right: 20px;
}

.footerImgFirst {
    margin-left: 200px;
}

.footerLeft ul li a img {
    width: 20px;
    height: 20px;
    transition: 0.5s;
}

.footer ul li a img:hover {
    opacity: 50%;
}

.footerMid{
    padding-top: 20px;
    text-align: center;
    width: 500px;
    height: 40px;
    background-color: #080C2C;;
}

.footerMid span{
    color: #BAA090;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 13px;
    cursor: default;
}

.footerRight{
    width: 550px;
    height: 60px;
    background-color: #080C2C;;
}

.footerRight span {
    font-size: 20px;
    color: #BAA090;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

#hour {
    margin-left: 340px;
}

.footerRight img {
    width: 20px;
    height: 20px;
    margin: 20px 0px 0px 60px;
    cursor: pointer;
    transition: 0.5s;
}

.footerRight img:hover {
    width: 24px;
    height: 24px;
    margin: 16px 0px 0px 58px;
}

.displayNone {
    display: none;
}

#notif {
    position: fixed;
    left: 50%;
    top: 3%;
    transform: translate(-50%,0);
}

.successNotif {
    margin: auto;
    width: 1200px;
    height: auto;
    padding: 15px 8px 15px 8px;
    background-color: white;
    border-bottom: 4px solid #46a53f;
    border-radius: 2%;
    transition: 0.5s;
    box-shadow:  5px 8px 12px #888888;
}

.successNotif span {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: black;
    cursor: default;
}

.failNotif {
    margin: auto;
    width: 1200px;
    height: auto;
    padding: 15px 8px 15px 8px;
    background-color: white;
    border-bottom: 4px solid #A71238;
    border-radius: 2%;
    box-shadow:  5px 8px 12px #888888;
    transition: 0.5s;
}

.failNotif span {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: black;
    cursor: default;
}

.failSuccessNotifSlide {
    width: 1440px;
}

#closeNotif {
    margin: 5px 10px 0px 0px;
    background-color: transparent;
    border: 0px;
    float: right;
    cursor: pointer;
    transition: 0.5s;
    color: black;
}

#closeNotif:hover {
    font-weight: bold;
    box-shadow: 0 0 13px #BAA090;
    color: #BAA090;
}