@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Julius+Sans+One&family=Redressed&family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f3f3ff;
}

.container {
    width: 100%;
    height: auto;
    padding: 70px 0px 20px 0px;
    background-color: #f3f3ff;
}

@media(min-width:320px) and (max-width:1023px) {
    

    .backArrow {
        position: fixed;
        top: 5%;
        left: 5%;
        transform: translate(-5%,0);
    }
    
    .backArrow a img {
        width: 30px;
        height: 30px;
        transition: 0.4s;
    }
    
    .backArrow a img:hover {
        opacity: 60%;
    }
    
    .contain {
        width: 80%;
        height: auto;
        margin: auto;
    }
    
    .headerContain {
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #c5c5c5;
    }
    
    .headerContain h1 {
        font-family: 'Redressed', cursive;
        font-size: 27px;
        margin-bottom: 10px;
    }
    
    .headUp {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 18px;
    }
    
    .headDown {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 15px;
    }
    
    .struk {
        display: flex;
        justify-content: space-between;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 15px;
    }
    
    .struk ul {
        list-style: none;
    }
    
    .idStruk1 {
        margin-top: 10px;
    }
    
    .idStruk2 {
        padding-bottom: 10px;
        border-bottom: 1px solid #c5c5c5;
    }
    
    .containStruk1 {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    .containStruk2 {
        padding-bottom: 10px;
        border-bottom: 1px solid #c5c5c5;
    }
    
    .containStruk3 {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #c5c5c5
    }
    
    .footerStruk {
        margin-top: 10x;
        text-align: center;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 15px;
    }
    
    .footerStruk ul {
        list-style: none;
    }

    .downloadStruk {;
        cursor: pointer;
        background-color: #f3f3ff;
        padding: 10px;
        border-radius: 50%;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: 0.5s;
    }

    .downloadStruk:hover {
        background-color: #baa090;
        box-shadow: 5px 10px #888888;
    }
    
    .downloadStruk a img {
        width: 30px;
        height: 30px;
    }
}

@media(min-width:1024px) and (max-width:1439px) {

    .backArrow {
        position: fixed;
        top: 5%;
        left: 5%;
        transform: translate(-5%,0);
    }
    
    .backArrow a img {
        width: 30px;
        height: 30px;
        transition: 0.4s;
    }
    
    .backArrow a img:hover {
        opacity: 60%;
    }
    
    .contain {
        width: 80%;
        height: auto;
        margin: auto;
    }
    
    .headerContain {
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #c5c5c5;
    }
    
    .headerContain h1 {
        font-family: 'Redressed', cursive;
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .headUp {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 20px;
    }
    
    .headDown {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 18px;
    }
    
    .struk {
        display: flex;
        justify-content: space-between;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 18px;
    }
    
    .struk ul {
        list-style: none;
    }
    
    .idStruk1 {
        margin-top: 10px;
    }
    
    .idStruk2 {
        padding-bottom: 10px;
        border-bottom: 1px solid #c5c5c5;
    }
    
    .containStruk1 {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    .containStruk2 {
        padding-bottom: 10px;
        border-bottom: 1px solid #c5c5c5;
    }
    
    .containStruk3 {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #c5c5c5
    }
    
    .footerStruk {
        margin-top: 10px;
        text-align: center;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 18px;
    }
    
    .footerStruk ul {
        list-style: none;
    }

    .downloadStruk {;
        cursor: pointer;
        background-color: #f3f3ff;
        padding: 10px;
        border-radius: 50%;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: 0.5s;
    }

    .downloadStruk:hover {
        background-color: #baa090;
        box-shadow: 5px 10px #888888;
    }
    
    .downloadStruk a img {
        width: 35px;
        height: 35px;
    }

}

@media (min-width:1440px) {

    .backArrow {
        position: fixed;
        top: 5%;
        left: 5%;
        transform: translate(-5%,0);
    }
    
    .backArrow a img {
        width: 40px;
        height: 40px;
        transition: 0.4s;
    }
    
    .backArrow a img:hover {
        opacity: 60%;
    }
    
    .contain {
        width: 80%;
        height: auto;
        margin: auto;
    }
    
    .headerContain {
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #c5c5c5;
    }
    
    .headerContain h1 {
        font-family: 'Redressed', cursive;
        font-size: 38px;
        margin-bottom: 10px;
    }
    
    .headUp {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 26px;
    }
    
    .headDown {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 22px;
    }
    
    .struk {
        display: flex;
        justify-content: space-between;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 22px;
    }
    
    .struk ul {
        list-style: none;
    }
    
    .idStruk1 {
        margin-top: 10px;
    }
    
    .idStruk2 {
        padding-bottom: 10px;
        border-bottom: 1px solid #c5c5c5;
    }
    
    .containStruk1 {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    .containStruk2 {
        padding-bottom: 10px;
        border-bottom: 1px solid #c5c5c5;
    }
    
    .containStruk3 {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #c5c5c5
    }
    
    .footerStruk {
        margin-top: 10px;
        text-align: center;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 22px;
    }
    
    .footerStruk ul {
        list-style: none;
    }

    .downloadStruk {;
        cursor: pointer;
        background-color: #f3f3ff;
        padding: 10px;
        border-radius: 50%;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: 0.5s;
    }

    .downloadStruk:hover {
        background-color: #baa090;
        box-shadow: 5px 10px #888888;
    }
    
    .downloadStruk a img {
        width: 35px;
        height: 35px;
    }

}