@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Julius+Sans+One&family=Redressed&family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.container {
    width: 100%;
    height: auto;
}

.menus {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    margin-bottom: 40px;
}

.pages {
    padding: 9px 0px 9px 0px;
    background-color: #000F2A;
    width: 100%;
    height: 20px;
}

.pages ul {
    list-style: none;
    text-align: center;
}
.pages ul li {
    color: white;
    font-size: 20px;
    display: inline-block;
    margin: 0px 50px 0px 50px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.pages ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.pages ul li a:hover {
    text-shadow: 0 0 3px white;
}
.active {
    text-shadow: 0 0 3px white;
}

.booking {
    margin: auto;
    width: 700px;
    padding: 12px;
    background-color: white;
    border: 1px solid #000F2A;
    border-top: 0px;
}

.booking ul {
    list-style: none;
    text-align: center;
}
.booking ul li {
    display: inline-block;
}
.booking ul li input {
    padding: 6px;
}
.booking ul li select {
    padding: 7px;
}
.booking ul li button {
    background-color: #A71238;
    color: white;
    padding: 7px;
    border: 1px solid #A71238;
    cursor: pointer;
}
.redButton {
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    background-color: #A71238;
    color: white;
    border: 1px solid #A71238;
}
.redButton:hover {
    color: #A71238;
    background-color: white;
}

.contain {
    width: 650px;
    height: auto;
    margin: auto;
    margin-bottom: 60px;
    text-align: center;
}

.contain ul {
    list-style: none;
    text-align: center;
    margin-bottom: 47px;
}

.contain ul li h1 {
    font-family: 'Julius Sans One', sans-serif;
}

.contain ul li small {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.successNotif {
    margin: auto;
    width: 500px;
    height: auto;
    padding: 15px 8px 15px 8px;
    background-color: white;
    border-bottom: 4px solid #46a53f;
    border-radius: 2%;
    margin-bottom: 40px;
    box-shadow:  5px 8px 12px #888888;
}

.successNotif span {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: black;
    cursor: default;
}

.failNotif {
    margin: auto;
    width: 500px;
    height: auto;
    padding: 15px 8px 15px 8px;
    background-color: white;
    border-bottom: 4px solid #A71238;
    border-radius: 2%;
    margin-bottom: 40px;
    box-shadow:  5px 8px 12px #888888;
}

.failNotif span {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: black;
    cursor: default;
}

#closeNotif {
    margin: 5px 10px 0px 0px;
    background-color: transparent;
    border: 0px;
    float: right;
    cursor: pointer;
    transition: 0.5s;
    color: black;
}

#closeNotif:hover {
    font-weight: bold;
    box-shadow: 0 0 13px #BAA090;
    color: #BAA090;
}

.displayNone {
    display: none;
}

.contain span {
    text-align: center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.contain table {
    border-top: 1px solid black;
    padding-top: 50px;
    margin: auto;
    margin-top: 70px;
}

.contain table tr td {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    padding: 5px;
}

.contain table tr td input{
    width: 400px;
    height: 20px;
    padding: 5px 10px 5px 10px;
    margin-left: 50px;
}

.contain table tr td button {
    float: right;
    background-color: #A71238;
    color: white;
    padding: 7px 20px 7px 20px;
    border: 1px solid #A71238;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    transition: 0.5s;
}

.contain table tr td button:hover {
    color: #A71238;
    background-color: white;
}

.contain small {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 15px;
}

.contain a {
    color: black;
    font-size: 15px;
    transition: 0.5s;
}

.contain a:hover {
    text-shadow: 0 0 3px #BAA090;
}

.footer {
    width: 100%;
    height: 61px;
    background-color: #A71238;
    display: flex;
}

.footerLeft{
    width: 35%;
    height: 100%;
    background-color: #080C2C;;
}

.footerLeft ul {
    margin: 20px 0px 0px 0px;
    display: inline-block;
    list-style: none;     

}

.footerLeft ul:not(:last-child) {
    margin-right: 20px;
}

.footerImgFirst {
    margin-left: 200px;
}

.footerLeft ul li a img {
    width: 20px;
    height: 20px;
    transition: 0.5s;
}

.footer ul li a img:hover {
    opacity: 50%;
}

.footerMid{
    padding-top: 20px;
    text-align: center;
    width: 30%;
    height: 41px;
    background-color: #080C2C;;
}

.footerMid span{
    color: #BAA090;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 13px;
    cursor: default;
}

.footerRight{
    width: 35%;
    height: 100%;
    background-color: #080C2C;;
}

.footerRight span {
    font-size: 20px;
    color: #BAA090;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

#hour {
    margin-left: 340px;
}

.footerRight img {
    width: 20px;
    height: 20px;
    margin: 20px 0px 0px 60px;
    cursor: pointer;
    transition: 0.5s;
}

.footerRight img:hover {
    width: 24px;
    height: 24px;
    margin: 16px 0px 0px 58px;
}
