@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Julius+Sans+One&family=Redressed&family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
}

@media(min-width:320px) and (max-width:767px) {

    .sidebar {
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 99;
        transition: 0.5s;
        border-right: 2px solid #BAA090;
        margin-left: -36%;
    }
    
    .marginLeftSidebar {
        margin-left: 0%;
    }
    
    .rotateArrowSidebar {
        transform: rotate(1deg);
    }
    
    .headerSidebar {
        width: 90%;
        height: 4vh;
        padding: 2vh 0;
        padding-right: 10%;
        background-color: #080C2C;
        border-bottom: 1px solid #BAA090;
        display: flex;
        justify-content: space-between;
    }
    
    .headerSidebar h1 {
        margin: 3px 0px 0px 3px;
        font-size: 15px;
        font-family: 'Redressed', cursive;
        color: white;
        cursor: default;
        background: linear-gradient(to right, white 50%, #BAA090 50%, white);
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.5s ease-out;
        margin-left: 10px;
    }
    .headerSidebar h1:hover {
        background-position: -100%;
    }
    
    .headerSidebar a img {
        width: 20px;
        height: 20px;
        transition: 0.5s;
        transform: rotate(180deg);
    }
    
    .headerSidebar a img:hover {
        transform: rotate(90deg);
    }
    
    .menuSidebar {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
    }
    
    .sidebarLeft {
        width: 80%;
        height: 100%;
        background-color:  #000F2A;
    }
    
    .sidebarLeft ul {
        list-style: none;
    }
    
    .sidebarLeft ul li {
        margin-top: 25px;
        margin-left: 10px;
    }
    
    .sidebarLeft ul li a {
        text-decoration: none;
        font-family: 'Julius Sans One', sans-serif;
        color: #BAA090;
        transition: 0.5s;
        font-size: 12px;
    }
    
    .sidebarLeft ul li a:hover {
        color: white;
    }
    
    .active {
        border-bottom: 1px solid #BAA090;
    }
    
    .sidebarRight {
        width: 20%;
        height: 100%;
        background-color:  #000F2A;
    }
    
    .sidebarRight ul {
        list-style: none;
    }
    
    .sidebarRight ul li:not(:first-child) {
        margin-top: 18px;
    }
    .sidebarRight ul li:first-child {
        margin-top: 25px;
    }
    
    .sidebarRight ul li a img {
        width: 20px;
        height: 20px;
    }
    
    .sidebarRight ul li a img:hover {
        opacity: 70%;
    }
    
    .footerSidebar {
        width: 100%;
        height: 44vh;
        background-color:  #000F2A;
        display: flex;
        justify-content: center;
    }
    
    .footerSidebar small {
        align-self: flex-end;
        margin-bottom: 30px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 10px;
        color: #BAA090;
    }
    
    .contain {
        width: 90%;
        height: 100%;
        background-color: #F3F3F3;
        transition: 0.5s;
        margin-left: 10%;
    }
    
    .dropdownProfileLink {
        cursor: pointer;
    }
    
    .dropdownProfile {
        position: fixed;
        width: auto;
        height: auto;
        background-color: white;
        border: 2px solid #888888;
        border-radius: 2%;
        top: 6%;
        left: 93%;
    }
    
    .dropdownProfileSlide {
        top: 6%;
        left: 92%;
    }
    
    .dropdownProfile ul {
        list-style: none;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 16px;
        text-align: center;
    }
    
    .dropdownProfile ul li {
        padding: 10px 20px 10px 20px;
    }
    
    .dropdownProfile ul li:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid #888888;
    }
    
    .dropdownProfile ul li a {
        text-decoration: none;
        color: black;
    }
    
    .dropdownProfile ul li a, .dropdownProfile ul li button {
        transition: 0.3s;
    }
    
    .dropdownProfile ul li a:hover, .dropdownProfile ul li button:hover {
        opacity: 30%;
    }
    
    .dropdownProfile ul li button {
        font-family: 'Alegreya Sans SC', sans-serif;
        background-color: transparent;
        border: 0px;
        color: black;
        cursor: pointer;
        font-size: 16px ;
    }
    
    .containSlide {
        width: 90%;
        margin-left: 10%;
    }
    
    .successNotif {
        margin: auto;
        width: 80%;
        height: auto;
        padding: 15px 8px 15px 8px;
        background-color: white;
        border-bottom: 4px solid #46a53f;
        border-radius: 2%;
        margin-top: 50px;
        margin-bottom: 50px;
        transition: 0.5s;
        box-shadow:  5px 8px 12px #888888;
    }
    
    .successNotif span {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        color: black;
        cursor: default;
    }
    
    .failNotif {
        margin: auto;
        width: 80%;
        height: auto;
        padding: 15px 8px 15px 8px;
        background-color: white;
        border-bottom: 4px solid #A71238;
        border-radius: 2%;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow:  5px 8px 12px #888888;
        transition: 0.5s;
    }
    
    .failNotif span {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        color: black;
        cursor: default;
    }
    
    .failSuccessNotifSlide {
        width: 90%;
    }
    
    #closeNotif {
        margin: 5px 10px 0px 0px;
        background-color: transparent;
        border: 0px;
        float: right;
        cursor: pointer;
        transition: 0.5s;
        color: black;
    }
    
    #closeNotif:hover {
        font-weight: bold;
        box-shadow: 0 0 13px #BAA090;
        color: #BAA090;
    }
    
    .headerContain, .homeContain {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 20px;
        padding: 20px 0px 20px 0px;
        border-bottom: 2px solid #c0c0c0;
    }
    
    .headerContain h1, .homeContain h1 {
        margin-left: 15px;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 15px;
        color: black;
    }
    
    .headerContain span, .homeContain span {
        margin-right: 10px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 12px;
    }
    
    .GNQContain {
        width: auto;
        height: auto;
        margin: 30px 20px 10px 20px;
    }
    
    .GNQContain h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 20px;
    }
    
    .GNQContain small {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 15px;
    }

    .contains {
        width: 100%;
        height: auto;
        background-color: #F3F3F3;
    }
    
    .cardContain {
        width: 220px;
        height: 550px;
        background-color: white;
        margin: 12.5px 0px 12.5px 13.5px;
        border: 2px solid #BAA090;
        border-radius: 5%;
        text-align: center;
        display: inline-block;
    }
    
    .cardContain img {
        width: 140px;
        height: 140px;
        margin: 80px 0px 0px 0px;
    }
    
    .cardContain h1 {
        color: black;
        font-family: 'Julius Sans One', sans-serif;
        margin-top: 60px;
        font-size: 20px;
    }
    
    .cardContain p {
        font-size: 15px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        margin-bottom: 110px;
    }
    
    .cardContain a {
        color: #BAA090;
        text-decoration: none;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .cardContain a:hover {
        border-bottom: 1px solid #BAA090;
    }
    
    .dataTable {
        width: 80%;
        height: auto;
        padding-left: 10px;
        transition: 0.5s;
        margin-top: 50px;
    }
    
    .dataTableSlide {
        width: 80%;
    }
    
    .dataTable h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .tambahDataLink {
        text-decoration: none;
        color: black;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        transition: 0.5s;
        font-size: 14px;
    }
    
    .tambahDataLink:hover {
        color: #46a53f;
    }
    
    .dataTable table {
        margin-top: 10px;
        border: 2px solid #BAA090;
        border-radius: 2%;
        background-color: white;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .dataTable table tr th {
        text-align: center;
        font-size: 16px;
    }
    
    .dataTable table tr td {
        padding: 20px;
        font-size: 14px;
    }
    
    .dataTable table tr td img {
        width: 40px;
        height: 40px;
    }
    
    .dataTable table tr td a {
        text-decoration: none;
        color: black;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        transition: 0.5s;
    }
    
    .dataTable table tr td button {
        font-size: 14px;
        background-color: transparent;
        border: 0px;
        color: black;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        transition: 0.5s;
    }
    
    .editDataLink:hover {
        color: #FCCF14;
    }
    
    #deleteData {
        cursor: pointer;
    }
    
    #deleteData:hover {
        color: #A71238;
    }
    
    .displayNone {
        display: none;
    }
    
    .tambahData , .editData{
        width: 80%;
        height: auto;
        padding-left: 20px;
        transition: 0.5s;
        margin-top: 50px;
    }
    
    .tambahDataSlide , .editDataSlide{
        width: 100%;
    }
    
    .tambahData h1 , .editData h1{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .tambahData table , .editData table{
        margin-top: 10px;
        border: 2px solid #BAA090;
        border-radius: 2%;
        background-color: white;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .tambahData table tr td , .editData tr td{
        padding: 20px;
        font-size: 14px;
    }
    
    .tambahData table tr td input, #fasilitas_id, .editData table tr td input{
        padding: 5px 10px 5px 10px;
        font-size: 14px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        margin: 0px 5px 0px 5px;
    }
    
    .tambahData table tr td textarea , .editData table tr td textarea{
        margin: 5px 5px 5px 5px;
        padding: 15px 20px 15px 20px;
        font-size: 14px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .tambahData table tr td ul , .editData table tr td ul{
        list-style: none;
    }
    
    .tambahData table tr td button , .editData table tr td button{
        font-size: 15px;
        padding: 5px 20px 5px 20px;
    }
    
    .tambahData table tr td img, .editData table tr td img{
        width: 80px;
        height: 80px;
    }
    
    #role {
        margin-right: 10px;
    }
    
    .redButton {
        transition: 0.5s;
        cursor: pointer;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        background-color: #A71238;
        color: white;
        border: 1px solid #A71238;
    }
    .redButton:hover {
        color: #A71238;
        background-color: white;
    }
}

@media(min-width:768px) and (max-width:1023px) {

    .sidebar {
        width: 20%;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 99;
        transition: 0.5s;
        border-right: 2px solid #BAA090;
    }
    
    .marginLeftSidebar {
        margin-left: -14%;
    }
    
    .rotateArrowSidebar {
        transform: rotate(180deg);
    }
    
    .headerSidebar {
        width: 90%;
        height: 4vh;
        padding: 2vh 0;
        padding-right: 10%;
        background-color: #080C2C;
        border-bottom: 1px solid #BAA090;
        display: flex;
        justify-content: space-between;
    }
    
    .headerSidebar h1 {
        margin: 3px 0px 0px 3px;
        font-size: 15px;
        font-family: 'Redressed', cursive;
        color: white;
        cursor: default;
        background: linear-gradient(to right, white 50%, #BAA090 50%, white);
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.5s ease-out;
        margin-left: 10px;
    }
    .headerSidebar h1:hover {
        background-position: -100%;
    }
    
    .headerSidebar a img {
        width: 20px;
        height: 20px;
        transition: 0.5s;
    }
    
    .headerSidebar a img:hover {
        transform: rotate(90deg);
    }
    
    .menuSidebar {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
    }
    
    .sidebarLeft {
        width: 80%;
        height: 100%;
        background-color:  #000F2A;
    }
    
    .sidebarLeft ul {
        list-style: none;
    }
    
    .sidebarLeft ul li {
        margin-top: 55px;
        margin-left: 10px;
    }
    
    .sidebarLeft ul li a {
        text-decoration: none;
        font-family: 'Julius Sans One', sans-serif;
        color: #BAA090;
        transition: 0.5s;
        font-size: 12px;
    }
    
    .sidebarLeft ul li a:hover {
        color: white;
    }
    
    .active {
        border-bottom: 1px solid #BAA090;
    }
    
    .sidebarRight {
        width: 20%;
        height: 100%;
        background-color:  #000F2A;
    }
    
    .sidebarRight ul {
        list-style: none;
    }
    
    .sidebarRight ul li:not(:first-child) {
        margin-top: 50px;
    }
    .sidebarRight ul li:first-child {
        margin-top: 55px;
    }
    
    .sidebarRight ul li a img {
        width: 20px;
        height: 20px;
    }
    
    .sidebarRight ul li a img:hover {
        opacity: 70%;
    }
    
    .footerSidebar {
        width: 100%;
        height: 44vh;
        background-color:  #000F2A;
        display: flex;
        justify-content: center;
    }
    
    .footerSidebar small {
        align-self: flex-end;
        margin-bottom: 30px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 12px;
        color: #BAA090;
    }
    
    .contain {
        width: 80%;
        height: 100%;
        background-color: #F3F3F3;
        transition: 0.5s;
        margin-left: 20%;
    }
    
    .dropdownProfileLink {
        cursor: pointer;
    }
    
    .dropdownProfile {
        position: fixed;
        width: auto;
        height: auto;
        background-color: white;
        border: 2px solid #888888;
        border-radius: 2%;
        top: 6%;
        left: 93%;
    }
    
    .dropdownProfileSlide {
        top: 6%;
        left: 92%;
    }
    
    .dropdownProfile ul {
        list-style: none;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 16px;
        text-align: center;
    }
    
    .dropdownProfile ul li {
        padding: 10px 20px 10px 20px;
    }
    
    .dropdownProfile ul li:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid #888888;
    }
    
    .dropdownProfile ul li a {
        text-decoration: none;
        color: black;
    }
    
    .dropdownProfile ul li a, .dropdownProfile ul li button {
        transition: 0.3s;
    }
    
    .dropdownProfile ul li a:hover, .dropdownProfile ul li button:hover {
        opacity: 30%;
    }
    
    .dropdownProfile ul li button {
        font-family: 'Alegreya Sans SC', sans-serif;
        background-color: transparent;
        border: 0px;
        color: black;
        cursor: pointer;
        font-size: 16px ;
    }
    
    .containSlide {
        width: 94%;
        margin-left: 6%;
    }
    
    .successNotif {
        margin: auto;
        width: 80%;
        height: auto;
        padding: 15px 8px 15px 8px;
        background-color: white;
        border-bottom: 4px solid #46a53f;
        border-radius: 2%;
        margin-top: 50px;
        margin-bottom: 50px;
        transition: 0.5s;
        box-shadow:  5px 8px 12px #888888;
    }
    
    .successNotif span {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        color: black;
        cursor: default;
    }
    
    .failNotif {
        margin: auto;
        width: 80%;
        height: auto;
        padding: 15px 8px 15px 8px;
        background-color: white;
        border-bottom: 4px solid #A71238;
        border-radius: 2%;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow:  5px 8px 12px #888888;
        transition: 0.5s;
    }
    
    .failNotif span {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        color: black;
        cursor: default;
    }
    
    .failSuccessNotifSlide {
        width: 90%;
    }
    
    #closeNotif {
        margin: 5px 10px 0px 0px;
        background-color: transparent;
        border: 0px;
        float: right;
        cursor: pointer;
        transition: 0.5s;
        color: black;
    }
    
    #closeNotif:hover {
        font-weight: bold;
        box-shadow: 0 0 13px #BAA090;
        color: #BAA090;
    }
    
    .headerContain, .homeContain {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 20px;
        padding: 20px 0px 20px 0px;
        border-bottom: 2px solid #c0c0c0;
    }
    
    .headerContain h1, .homeContain h1 {
        margin-left: 20px;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 20px;
        color: black;
    }
    
    .headerContain span, .homeContain span {
        margin-right: 60px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 15px;
    }
    
    .GNQContain {
        width: auto;
        height: auto;
        margin: 30px 20px 10px 20px;
    }
    
    .GNQContain h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 30px;
    }
    
    .GNQContain small {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 15px;
    }

    .contains {
        width: 100%;
        height: auto;
        background-color: #F3F3F3;
    }
    
    .cardContain {
        width: 280px;
        height: 550px;
        background-color: white;
        margin: 12.5px 0px 12.5px 13.5px;
        border: 2px solid #BAA090;
        border-radius: 5%;
        text-align: center;
        display: inline-block;
    }
    
    .cardContain img {
        width: 200px;
        height: 200px;
        margin: 80px 80px 0px 80px;
    }
    
    .cardContain h1 {
        color: black;
        font-family: 'Julius Sans One', sans-serif;
        margin-top: 60px;
        font-size: 20px;
    }
    
    .cardContain p {
        font-size: 15px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        margin-bottom: 110px;
    }
    
    .cardContain a {
        color: #BAA090;
        text-decoration: none;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .cardContain a:hover {
        border-bottom: 1px solid #BAA090;
    }
    
    .dataTable {
        width: 80%;
        height: auto;
        padding-left: 10px;
        transition: 0.5s;
        margin-top: 50px;
    }
    
    .dataTableSlide {
        width: 80%;
    }
    
    .dataTable h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .tambahDataLink {
        text-decoration: none;
        color: black;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        transition: 0.5s;
        font-size: 14px;
    }
    
    .tambahDataLink:hover {
        color: #46a53f;
    }
    
    .dataTable table {
        margin-top: 10px;
        border: 2px solid #BAA090;
        border-radius: 2%;
        background-color: white;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .dataTable table tr th {
        text-align: center;
        font-size: 16px;
    }
    
    .dataTable table tr td {
        padding: 20px;
        font-size: 14px;
    }
    
    .dataTable table tr td img {
        width: 40px;
        height: 40px;
    }
    
    .dataTable table tr td a {
        text-decoration: none;
        color: black;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        transition: 0.5s;
    }
    
    .dataTable table tr td button {
        font-size: 14px;
        background-color: transparent;
        border: 0px;
        color: black;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        transition: 0.5s;
    }
    
    .editDataLink:hover {
        color: #FCCF14;
    }
    
    #deleteData {
        cursor: pointer;
    }
    
    #deleteData:hover {
        color: #A71238;
    }
    
    .displayNone {
        display: none;
    }
    
    .tambahData , .editData{
        width: 80%;
        height: auto;
        padding-left: 20px;
        transition: 0.5s;
        margin-top: 50px;
    }
    
    .tambahDataSlide , .editDataSlide{
        width: 100%;
    }
    
    .tambahData h1 , .editData h1{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .tambahData table , .editData table{
        margin-top: 10px;
        border: 2px solid #BAA090;
        border-radius: 2%;
        background-color: white;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .tambahData table tr td , .editData tr td{
        padding: 20px;
        font-size: 14px;
    }
    
    .tambahData table tr td input, #fasilitas_id, .editData table tr td input{
        padding: 5px 10px 5px 10px;
        font-size: 14px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        margin: 0px 5px 0px 5px;
    }
    
    .tambahData table tr td textarea , .editData table tr td textarea{
        margin: 5px 5px 5px 5px;
        padding: 15px 20px 15px 20px;
        font-size: 14px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .tambahData table tr td ul , .editData table tr td ul{
        list-style: none;
    }
    
    .tambahData table tr td button , .editData table tr td button{
        font-size: 15px;
        padding: 5px 20px 5px 20px;
    }
    
    .tambahData table tr td img, .editData table tr td img{
        width: 80px;
        height: 80px;
    }
    
    #role {
        margin-right: 10px;
    }
    
    .redButton {
        transition: 0.5s;
        cursor: pointer;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        background-color: #A71238;
        color: white;
        border: 1px solid #A71238;
    }
    .redButton:hover {
        color: #A71238;
        background-color: white;
    }
    

}

@media(min-width:1024px) and (max-width:1600px) {

    .sidebar {
        width: 20%;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 99;
        transition: 0.5s;
        border-right: 2px solid #BAA090;
    }
    
    .marginLeftSidebar {
        margin-left: -14%;
    }
    
    .rotateArrowSidebar {
        transform: rotate(180deg);
    }
    
    .headerSidebar {
        width: 90%;
        height: 4vh;
        padding: 2vh 0;
        padding-right: 10%;
        background-color: #080C2C;
        border-bottom: 1px solid #BAA090;
        display: flex;
        justify-content: space-between;
    }
    
    .headerSidebar h1 {
        margin: 3px 0px 0px 3px;
        font-size: 20px;
        font-family: 'Redressed', cursive;
        color: white;
        cursor: default;
        background: linear-gradient(to right, white 50%, #BAA090 50%, white);
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.5s ease-out;
        margin-left: 10px;
    }
    .headerSidebar h1:hover {
        background-position: -100%;
    }
    
    .headerSidebar a img {
        width: 30px;
        height: 30px;
        transition: 0.5s;
    }
    
    .headerSidebar a img:hover {
        transform: rotate(90deg);
    }
    
    .menuSidebar {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
    }
    
    .sidebarLeft {
        width: 80%;
        height: 100%;
        background-color:  #000F2A;
    }
    
    .sidebarLeft ul {
        list-style: none;
    }
    
    .sidebarLeft ul li {
        margin-top: 55px;
        margin-left: 10px;
    }
    
    .sidebarLeft ul li a {
        text-decoration: none;
        font-family: 'Julius Sans One', sans-serif;
        color: #BAA090;
        transition: 0.5s;
    }
    
    .sidebarLeft ul li a:hover {
        color: white;
    }
    
    .active {
        border-bottom: 1px solid #BAA090;
    }
    
    .sidebarRight {
        width: 20%;
        height: 100%;
        background-color:  #000F2A;
    }
    
    .sidebarRight ul {
        list-style: none;
    }
    
    .sidebarRight ul li {
        margin-top: 40px;
    }
    
    .sidebarRight ul li a img {
        width: 30px;
        height: 30px;
    }
    
    .sidebarRight ul li a img:hover {
        opacity: 70%;
    }
    
    .footerSidebar {
        width: 100%;
        height: 44vh;
        background-color:  #000F2A;
        display: flex;
        justify-content: center;
    }
    
    .footerSidebar small {
        align-self: flex-end;
        margin-bottom: 30px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 12px;
        color: #BAA090;
    }
    
    .contain {
        width: 80%;
        height: 100%;
        background-color: #F3F3F3;
        transition: 0.5s;
        margin-left: 20%;
    }
    
    .dropdownProfileLink {
        cursor: pointer;
    }
    
    .dropdownProfile {
        position: fixed;
        width: auto;
        height: auto;
        background-color: white;
        border: 2px solid #888888;
        border-radius: 2%;
        top: 6%;
        left: 93%;
    }
    
    .dropdownProfileSlide {
        top: 6%;
        left: 92%;
    }
    
    .dropdownProfile ul {
        list-style: none;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 16px;
        text-align: center;
    }
    
    .dropdownProfile ul li {
        padding: 10px 20px 10px 20px;
    }
    
    .dropdownProfile ul li:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid #888888;
    }
    
    .dropdownProfile ul li a {
        text-decoration: none;
        color: black;
    }
    
    .dropdownProfile ul li a, .dropdownProfile ul li button {
        transition: 0.3s;
    }
    
    .dropdownProfile ul li a:hover, .dropdownProfile ul li button:hover {
        opacity: 30%;
    }
    
    .dropdownProfile ul li button {
        font-family: 'Alegreya Sans SC', sans-serif;
        background-color: transparent;
        border: 0px;
        color: black;
        cursor: pointer;
        font-size: 16px ;
    }
    
    .containSlide {
        width: 94%;
        margin-left: 6%;
    }
    
    .successNotif {
        margin: auto;
        width: 80%;
        height: auto;
        padding: 15px 8px 15px 8px;
        background-color: white;
        border-bottom: 4px solid #46a53f;
        border-radius: 2%;
        margin-top: 50px;
        margin-bottom: 50px;
        transition: 0.5s;
        box-shadow:  5px 8px 12px #888888;
    }
    
    .successNotif span {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        color: black;
        cursor: default;
    }
    
    .failNotif {
        margin: auto;
        width: 80%;
        height: auto;
        padding: 15px 8px 15px 8px;
        background-color: white;
        border-bottom: 4px solid #A71238;
        border-radius: 2%;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow:  5px 8px 12px #888888;
        transition: 0.5s;
    }
    
    .failNotif span {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        color: black;
        cursor: default;
    }
    
    .failSuccessNotifSlide {
        width: 90%;
    }
    
    #closeNotif {
        margin: 5px 10px 0px 0px;
        background-color: transparent;
        border: 0px;
        float: right;
        cursor: pointer;
        transition: 0.5s;
        color: black;
    }
    
    #closeNotif:hover {
        font-weight: bold;
        box-shadow: 0 0 13px #BAA090;
        color: #BAA090;
    }
    
    .headerContain, .homeContain {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 20px;
        padding: 20px 0px 20px 0px;
        border-bottom: 2px solid #c0c0c0;
    }
    
    .headerContain h1, .homeContain h1 {
        margin-left: 20px;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 20px;
        color: black;
    }
    
    .headerContain span, .homeContain span {
        margin-right: 60px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 15px;
    }
    
    .GNQContain {
        width: auto;
        height: auto;
        margin: 30px 20px 10px 20px;
    }
    
    .GNQContain h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 30px;
    }
    
    .GNQContain small {
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 15px;
    }

    .contains {
        width: 100%;
        height: auto;
        background-color: #F3F3F3;
    }
    
    .cardContain {
        width: 340px;
        height: 550px;
        background-color: white;
        margin: 12.5px 0px 12.5px 13.5px;
        border: 2px solid #BAA090;
        border-radius: 5%;
        text-align: center;
        display: inline-block;
    }
    
    .cardContain img {
        width: 200px;
        height: 200px;
        margin: 80px 80px 0px 80px;
    }
    
    .cardContain h1 {
        color: black;
        font-family: 'Julius Sans One', sans-serif;
        margin-top: 60px;
        font-size: 20px;
    }
    
    .cardContain p {
        font-size: 15px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        margin-bottom: 110px;
    }
    
    .cardContain a {
        color: #BAA090;
        text-decoration: none;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .cardContain a:hover {
        border-bottom: 1px solid #BAA090;
    }
    
    .dataTable {
        width: 80%;
        height: auto;
        padding-left: 20px;
        transition: 0.5s;
        margin-top: 50px;
    }
    
    .dataTableSlide {
        width: 80%;
    }
    
    .dataTable h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .tambahDataLink {
        text-decoration: none;
        color: black;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        transition: 0.5s;
        font-size: 14px;
    }
    
    .tambahDataLink:hover {
        color: #46a53f;
    }
    
    .dataTable table {
        margin-top: 10px;
        border: 2px solid #BAA090;
        border-radius: 2%;
        background-color: white;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .dataTable table tr th {
        text-align: center;
        font-size: 16px;
    }
    
    .dataTable table tr td {
        padding: 20px;
        font-size: 14px;
    }
    
    .dataTable table tr td img {
        width: 40px;
        height: 40px;
    }
    
    .dataTable table tr td a {
        text-decoration: none;
        color: black;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        transition: 0.5s;
    }
    
    .dataTable table tr td button {
        font-size: 14px;
        background-color: transparent;
        border: 0px;
        color: black;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        transition: 0.5s;
    }
    
    .editDataLink:hover {
        color: #FCCF14;
    }
    
    #deleteData {
        cursor: pointer;
    }
    
    #deleteData:hover {
        color: #A71238;
    }
    
    .displayNone {
        display: none;
    }
    
    .tambahData , .editData{
        width: 80%;
        height: auto;
        padding-left: 20px;
        transition: 0.5s;
        margin-top: 50px;
    }
    
    .tambahDataSlide , .editDataSlide{
        width: 100%;
    }
    
    .tambahData h1 , .editData h1{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .tambahData table , .editData table{
        margin-top: 10px;
        border: 2px solid #BAA090;
        border-radius: 2%;
        background-color: white;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .tambahData table tr td , .editData tr td{
        padding: 20px;
        font-size: 14px;
    }
    
    .tambahData table tr td input, #fasilitas_id, .editData table tr td input{
        padding: 5px 10px 5px 10px;
        font-size: 14px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        margin: 0px 5px 0px 5px;
    }
    
    .tambahData table tr td textarea , .editData table tr td textarea{
        margin: 5px 5px 5px 5px;
        padding: 15px 20px 15px 20px;
        font-size: 14px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    
    .tambahData table tr td ul , .editData table tr td ul{
        list-style: none;
    }
    
    .tambahData table tr td button , .editData table tr td button{
        font-size: 15px;
        padding: 5px 20px 5px 20px;
    }
    
    .tambahData table tr td img, .editData table tr td img{
        width: 80px;
        height: 80px;
    }
    
    #role {
        margin-right: 10px;
    }
    
    .redButton {
        transition: 0.5s;
        cursor: pointer;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        background-color: #A71238;
        color: white;
        border: 1px solid #A71238;
    }
    .redButton:hover {
        color: #A71238;
        background-color: white;
    }
    

}
