@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Julius+Sans+One&family=Redressed&family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
}

@media (min-width:320px) and (max-width:1023px) {
    .homeContain {
        width: auto;
        height: 60px;
        padding-top: 20px;
        border-bottom: 2px solid #c0c0c0;
        display: flex;
        justify-content: space-between;
    }

    .homeContain h1 {
        color: black;
        margin-left: 8px;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 16px;
    }

    .homeContain span {
        margin-right: 15px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 13px;
    }

    .dropdownProfileLink {
        cursor: pointer;
    }

    .dropdownProfile {
        position: fixed;
        width: auto;
        height: auto;
        background-color: white;
        border: 2px solid #888888;
        border-radius: 2%;
        top: 6%;
        left: 75.4%;
    }

    .dropdownProfile ul {
        list-style: none;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 12px;
        text-align: center;
    }

    .dropdownProfile ul li {
        padding: 10px 20px 10px 20px;
    }

    .dropdownProfile ul li:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid #888888;
    }

    .dropdownProfile ul li a {
        text-decoration: none;
        color: black;
    }

    .dropdownProfile ul li a, .dropdownProfile ul li button {
        transition: 0.3s;
    }

    .dropdownProfile ul li a:hover, .dropdownProfile ul li button:hover {
        opacity: 30%;
    }

    .dropdownProfile ul li button {
        font-family: 'Alegreya Sans SC', sans-serif;
        background-color: transparent;
        border: 0px;
        color: black;
        cursor: pointer;
        font-size: 16px ;
    }

    .searchBar {
        width: 80%;
        margin: auto;
    }
    
    .searchBarLeft, .searchBarRight {
        display: flex;
        justify-content: center;
    }

    .searchNama {
        width: 80%;
        padding: 5px 0 5px 0;
        border: 2px solid #BAA090;
        border-radius: 2%;
        font-size: 14px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }

    .searchTgl {
        width: 80%;
        padding: 3px 0 3px 0;
        border: 2px solid #BAA090;
        border-radius: 2%;
        font-size: 14px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }

    .searchBar div button {
        width: 20%;
        font-size: 12px;
        padding: 4px 0 4px 0;
    }

    .redButton {
        transition: 0.5s;
        cursor: pointer;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        background-color: #A71238;
        color: white;
        border: 1px solid #A71238;
    }
    .redButton:hover {
        color: #A71238;
        background-color: white;
    }

    .table {
        display: flex;
        justify-content: center;
    }

    .table table {
        width: 80%;
    }

    .dataTable {
        width: auto;
        height: auto;
        transition: 0.5s;
        margin-top: 30px;
    }

    .displayNone {
        display: none;
    }

    .dataTable h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 20px;
        margin-bottom: 40px;
        text-align: center;
    }

    .dataTable table {
        margin-top: 10px;
        border: 2px solid #BAA090;
        border-radius: 2%;
        background-color: white;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }

    .dataTable table tr th {
        text-align: center;
        font-size: 14px;
    }

    .dataTable table tr td {
        font-size: 12px;
    }

    .resetSearch {
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }

    .resetSearch span {
        font-family: 12px;
        cursor: pointer;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        transition: 0.5s;
    }

    .resetSearch span:hover {
        color: #A71238;
    }

}

@media (min-width:1024px) {

    .homeContain {
        width: auto;
        height: 60px;
        padding-top: 20px;
        border-bottom: 2px solid #c0c0c0;
        display: flex;
        justify-content: space-between;
    }

    .homeContain h1 {
        color: black;
        margin-left: 20px;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 20px;
    }

    .homeContain span {
        margin-right: 60px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 15px;
    }

    .dropdownProfileLink {
        cursor: pointer;
    }

    .dropdownProfile {
        position: fixed;
        width: auto;
        height: auto;
        background-color: white;
        border: 2px solid #888888;
        border-radius: 2%;
        top: 6%;
        left: 91.4%;
    }

    .dropdownProfile ul {
        list-style: none;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 16px;
        text-align: center;
    }

    .dropdownProfile ul li {
        padding: 10px 20px 10px 20px;
    }

    .dropdownProfile ul li:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid #888888;
    }

    .dropdownProfile ul li a {
        text-decoration: none;
        color: black;
    }

    .dropdownProfile ul li a, .dropdownProfile ul li button {
        transition: 0.3s;
    }

    .dropdownProfile ul li a:hover, .dropdownProfile ul li button:hover {
        opacity: 30%;
    }

    .dropdownProfile ul li button {
        font-family: 'Alegreya Sans SC', sans-serif;
        background-color: transparent;
        border: 0px;
        color: black;
        cursor: pointer;
        font-size: 16px ;
    }

    .searchBar {
        width: 900px;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }

    .searchNama {
        width: 335px;
        padding: 5px 15px 5px 15px;
        border: 2px solid #BAA090;
        border-radius: 2%;
        font-size: 14px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }

    .searchTgl {
        width: 335px;
        padding: 3px 15px 3px 15px;
        border: 2px solid #BAA090;
        border-radius: 2%;
        font-size: 14px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }

    .searchBar div button {
        font-size: 14px;
        padding: 4px 15px 4px 15px;
    }

    .redButton {
        transition: 0.5s;
        cursor: pointer;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        background-color: #A71238;
        color: white;
        border: 1px solid #A71238;
    }
    .redButton:hover {
        color: #A71238;
        background-color: white;
    }

    .table {
        display: flex;
        justify-content: center;
    }

    .table table {
        width: 863px;
    }

    .dataTable {
        width: auto;
        height: auto;
        transition: 0.5s;
        margin-top: 30px;
    }

    .displayNone {
        display: none;
    }

    .dataTable h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 25px;
        margin-bottom: 40px;
        text-align: center;
    }

    .dataTable table {
        margin-top: 10px;
        border: 2px solid #BAA090;
        border-radius: 2%;
        background-color: white;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }

    .dataTable table tr th {
        text-align: center;
        font-size: 16px;
    }

    .dataTable table tr td {
        padding: 20px 38px 20px 38px;
        font-size: 14px;
    }

    .resetSearch {
        width: 863px;
        margin: auto;
        margin-top: 10px;
    }

    .resetSearch span {
        font-family: 12px;
        cursor: pointer;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        transition: 0.5s;
    }

    .resetSearch span:hover {
        color: #A71238;
    }

}


